.overlay-parent {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background: transparent;

    z-index: -1;

    &.focused {
        background:rgba(255,255,255,0.2);
        z-index: 99;
    }
}

.overlay {
    position: absolute;
}

#giantLoadingContainer {
    margin: auto;
    width: 10rem;
    height: 10rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
#giantLoading {
    width: 100%;
    height: 100%;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 40px;
    color: #e4e1e1;
}
  
#giantLoadingContainer {
    display: none;
}